#head1{
    position: top;
    font-size: 3em;
    color: white;
    max-height:3em;
    font-family:  Courier, monospacesans;
    font-weight: bold;
    
}
body{
  background: url("./images/pic4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 0px;
    color:white;
}
.panelHeader{
    border-radius: 10px 10px 0 0;
             border: 2px solid #07216A;
             background-color: #07216A;
             padding: 5px;
             font-size: 1.3em;
             color: #8898CA;
             box-shadow: inset 2px 2px #A1A0EA;
              }
#leftCon{
             width: 20%;
             position: absolute;
             top: 420px;
             left: 10px;
             font-family: sans-serif;}
a
{
    color:black;
}

.Links {
	Width : 220px;
	text-align : left;
}